@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}
nav li,
.link {
  cursor: pointer;
  color: white;
}

.card {
  width: 338px;
}

.middle-nav ul li {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.middle-nav ul li hr {
  background-color: rgb(234 179 8);
  height: 2px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 0px 2px;
}
nav {
  font-family: "Poppins", serif;
}

.card-container {
  margin: 0 auto;
  /* height:45vh; */
  justify-content: space-between;
  padding: 5px;
  flex-wrap: wrap;
  gap: 10px;
}

.category-card img {
  object-fit: scale-down;
  height: 90%;
}

.category-card {
  width: 200px;
  height: 200px;
  /* background-color: rgb(228, 226, 226); */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px gray;
  border-radius: 0.5em;
  padding: 5px;
  font-size: 3vmin;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  max-width: 400px;
}

.category-card:hover {
  transform: scale(1.02);
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 50vh;
  left: 50vw;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-card {
  width: 200px;
  height: 180px;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 10px gray;
  border-radius: 0.5em;
  padding: 5px;
  font-size: 1rem;

  transition: all 0.3s ease;
  cursor: pointer;
  max-width: 400px;
}
.product-card h {
  /* background-color: aquamarine; */
  overflow: hidden;
  font-size: 0.8em;
  width: 80%;
  /* padding: 0.5em; */
  height: 100%;
}

.other-details h3 {
  font-weight: 800;
}
.buttons {
  /* background-color: #ff3d00; */
  display: flex;
  justify-content: space-around;
}
.btn-md {
  /* background-color: aqua; */
  border-radius: 0.3em;
  padding: 2px 4px;
  box-shadow: 0px 0px 2px gray;
  cursor: pointer;
  transition: all 5ms ease;
  font-weight: 600;
}

.btn-success:hover {
  cursor: pointer;
  background: rgb(5, 169, 65);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.long-card {
  width: 80%;
  margin: 0 auto;
  height: 150px;
  padding: 5px;
  box-shadow: 0px 0px 10px gray;
  border-radius: 0.5em;
}

.mini-image {
  height: 100%;
}

.mini-image img {
  height: 100%;
  object-fit: scale-down;
  border-radius: 10px;
}

.btn-sm {
  background-color: rgb(147, 144, 144);
  color: white;
  border-radius: 0.5rem;
  padding: 0.1em 0.3em;
  font-size: 0.9rem;
}

.discount {
  text-decoration: line-through;
}

.quantity-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  margin: auto;
  font-family: Arial, sans-serif;
}

.quantity-counter button {
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-counter button:hover {
  background-color: #0056b3;
}

.quantity-counter .quantity {
  font-size: 18px;
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.product-container {
  /* background-color: #ff3d00; */
  box-shadow: 0px 0px 10px gray;
  border-radius: 0.5em;
  margin: 5px;
}

.action-btns button:nth-child(1) {
  background-color: rgb(0, 0, 0);
  color: white;
}

.action-btns button {
  padding: 0.3em 5em;
  border-radius: 0.3em;
  font-weight: 300;
  transition: all 0.3ms ease;
}

.action-btns button:nth-child(2) {
  border: 1px solid gray;
}

.action-btns button:nth-child(1):hover {
  background-color: rgb(75, 72, 72);
}

.action-btns button:nth-child(2):hover {
  background-color: rgb(184, 169, 0);
  color: white;
}

.action-btns button:nth-child(2):active {
  background-color: rgb(26, 152, 9);
}

.action-btns {
  /* background-color: #00ff2f; */
  gap: 0.5em;
}

.product-details-img {
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.side-card {
  box-shadow: 0px 0px 10px gray;
  border-radius: 0.8em;
  padding: 2em;
  height: 200px;
  color: gray;
}

.item-total {
  color: black;
}

#search-bar {
  outline: none;
}
.tag{
  background-color: gray;
  border-radius: .5em;
  padding: .2em;
}

#tags{
  gap: 5px;
  padding: 2px;
}

@media screen and (max-width: 842px) {
   .middle-nav{
    background-color: blueviolet;
    width: 250px;
    font-size: 0.7em;
   }
   nav{
    background-color: chartreuse;
    justify-content: space-between;
    padding: 0em;
   }
  }

  